<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EasyDNS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/theme.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <script type="text/javascript" src="/static/js/lib/jquery-2.1.3.min.js"></script>
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    -->
    <script type="text/javascript" src="/static/js/lib/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
{% block header %}{% include 'header.html' %}{% endblock %}
{% block content %}{% endblock %}
{% block extra %}{% endblock %}
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>